body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  padding-right: 6px !important;
  background-image: none;
}
.invalid-feedback-custom {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #f05050;
}

.app-footer {
  display: inline-block;
  text-align: right !important;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  /* border-radius: 4px; */
  margin-top: 4px;
  padding: 8px !important;
  padding: 0 32px;
  z-index: 2;
}
.main-button {
  margin: 0 4px 0 0;
  width: 110px;
  height: 40px;
}

.form-control {
  height: 32px;
}
.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.p-datatable-scrollable .p-datatable-thead > tr > th,
.p-datatable-scrollable .p-datatable-tbody > tr > td,
.p-datatable-scrollable .p-datatable-tfoot > tr > td {
  flex: none;
}
.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
  padding: 0.3rem 0.3em;
}
